* {
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Aboreto', cursive;
font-family: 'Poppins', sans-serif;
}

.logo img {
  height: 60px;
  margin-left: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
  height: 100px;
}

.navlist ul {
  display: flex;
  list-style: none;
}
.navlist ul li {
  padding: 50px;
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
}
.navlist ul li:hover {
  color: red;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.hero-left img {
  height: 500px;
  border-radius: 50%;
}

.hero-right {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero-right h1 {
  font-size: 100px;
  text-align: center;
}
.hero-right p {
  font-size: x-large;
}

.hero-right span {
  background-color: rgb(89, 91, 233);
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.hero-right button {
  background-color: rgb(248, 0, 0);
  color: white;
  padding: 10px;
  font-size: x-large;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.hero-right button:hover {
  background-color: rgb(224, 71, 71);
  color: black;
}

/* feature section----- */

.feature-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  
}

.feature-menu img {
  height: 100px;
}

.feature-1st {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  gap: 20px;
  padding: 20px 30px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}


/* menu section------- */

.menu-list {
  text-align: center;
  margin-bottom: 50px;
}
.menu img {
  height: 200px;
  border-radius: 50px;
  transform: scale(1);
  transition-duration: 1s;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-section {
  text-align: center;
  cursor: pointer;
}


.menu img:hover{
    box-shadow: 0 0 20px 0px rgba(250, 0, 0, 0.4);
    transform: scale(1.2);
}


footer{
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    margin-top: 50px;
}

.terms{
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    
}
.followus{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.followus ul{
    display: flex;
    justify-content: space-around;
    
}

.followus ul li{
    padding: 20px;
    list-style: none;
}

.followus ul li i{
    color: blue;
}


@media(1px<= width <=1200px){
  .hero{
    margin-top: 400px;
   display: flex;
   flex-direction: column;
   margin-bottom: 200px;
  }
  .feature-menu{
    margin-top: 500px;
    display: flex;
    flex-direction: column;

    margin-bottom: 200px;
  }

  .menu{
    
    display: flex;
    flex-direction: column;
    
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  .navlist ul{
    display: none;
  }
}